
.admin-login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background: url('https://images.pexels.com/photos/3802510/pexels-photo-3802510.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
}

  
  /* Login Container */
  .admin-login-container {
    margin-top: 0px;
    background: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
   backdrop-filter: blur(16px); /* Glass effect */
    border: 1px solid rgba(0, 0, 0, 0.3); /* Soft border */
}

  
  /* Title */
  .admin-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
  }
  
  /* Error Message */
  .admin-error {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  /* Form Styling */
  .admin-form {
    
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Labels */
  .admin-label {
    font-size: 1.3rem;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
  }
  
  /* Input Fields */
  .admin-input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #000000;
    border-radius: 10px;
    outline: none;
    transition: border 0.3s;
  }
  
  .admin-input:focus {
    border-color: #262626;
  }
  
  /* Submit Button */
  .admin-btn {
    background: transparent;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .admin-btn:hover {
    background: transparent;
    color:azure
  }
  
  /* Responsive Design */
  @media (max-width: 400px) {
    .admin-login-container {
      width: 90%;
    }
  }
  